#content {
  margin: 0;
  padding: 1em;
}

#content h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

#content h2 small {
  font-size: 0.75em;
}

#content h2 small a {
  color: #666;
}

#content ol {
  margin: 1em 2em;
}

#content ul {
  margin: 0 1.5em;
}

#content li {
  color: #777;
  list-style: square;
  line-height: 1.5em;
}

#content pre {
  background: #000;
  color: #FFF;
  font-size: 1.5em;
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}

#content blockquote {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 1.25em;
  font-family: georgia;
  line-height: 1.5em;
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid #AAA;
}

#content .filters {
  border-bottom: 3px solid #e8e8e8;
  height: 2em;
  padding:0px 0px 15px 0px;
  margin:15px 15px 1em 15px;
}

#content .filters ul {
  margin: 0;
}

#content .filters ul li {
  float: left;
  list-style: none;
  margin: 0 1em 0 0;
}

#content #search {
  float: right;
}

#content #search ul li {
  margin: 0;
}

#content ul.predefined_filters {
  line-height:30px;
  margin:0px;
}

#content ul.predefined_filters li {
  display: inline;
  margin: 0 0 0 0.5em;
}

#content .actions {
  font-size: 0.9em;
  margin: 0.5em 0;
  height: 1em;
}

#content .boxed {
  background-color:#fff;
  -moz-box-shadow:0 0 10px #c8c8c8;
  -webkit-box-shadow:0 0 10px #c8c8c8;
  box-shadow:0 0 10px #c8c8c8;
  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#content .boxed .page-heading {
  background-color:#f5f5f5;
  border-bottom:1px solid #e5e5e5;
  
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}

#content .boxed .page-heading h2 {
  float:left;
  font-size: 1.15em;
}

#content .boxed .page-heading aside {
  float:right;
}

#content .padded {
  padding:15px;
}