fieldset {
  margin: 0;
  padding: 0;
}

fieldset ol {
  margin: 0!important;
}

fieldset ol li {
  list-style: none!important;
  margin: 1em 0!important;
}

fieldset small {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 0 0 0.25em;
}

fieldset small a {
  text-decoration: none;
}

fieldset.inputs {}

  fieldset.inputs input[type='text'],
  fieldset.inputs input[type='password'] {
    font-size: 1.25em;
    width: 100%;
  }

  fieldset.inputs textarea {
    font-size: 1.25em;
    padding: 3px;
  }

  fieldset.inputs select {
    font-size: 1.25em;
  }

  fieldset.inputs label.inline_label {
    display: inline;
  }

fieldset.buttons {
  background-color:#f5f5f5;
  border-top:1px solid #e5e5e5;
  
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

  fieldset.buttons ol li {
    display: inline;
  }
