#header {
  background-color: #52565c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565a5f), to(#494f56));
  background-image: -webkit-linear-gradient(top, #565a5f, #494f56);
  background-image:    -moz-linear-gradient(top, #565a5f, #494f56);
  background-image:     -ms-linear-gradient(top, #565a5f, #494f56);
  background-image:      -o-linear-gradient(top, #565a5f, #494f56);
  
  padding: 2em 1em 0.85em 1.25em;
}

#header .title {
  margin-bottom: 2.75em;
}

#header .title h1 a {
  text-decoration: none;
}

#header .title h1 a:hover {
  text-decoration: underline;
}

#header .title,
#header .title h1 a,
#header .applications,
#header .applications a,
#header .profile,
#header .profile a {
  color: #FFF;
}

#header ul li {
  display: inline;
}

#header .applications ul li {
  padding-right: 0.15em;
}

#header .applications ul li a {
  background: #32353a;
  padding: 8px 10px;
  text-decoration: none;
}

#header .applications ul li.dashboard a {
  background-color:#3f4449;
  color: #eaeaea;
}

#header .applications ul li a.active,
#header .applications ul li a:hover {
  background: #e0e0e1 url("/assets/typus/body-background.jpg") repeat center center;
  color: #000;
  text-decoration: none !important;
  text-shadow: #f1f2f2 1px 1px;
}

#header .profile {
  margin: 0.25em 0 0 0;
  text-align: right;
}

#header .profile ul li {
  padding-left: 0.5em;
}
